#display_div div{
    padding:20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 22%;
    height: 25%;
    margin-top: 10px;
    float:left;
    margin-left: 2px;
}
h1{
    text-align: center;
}
button {
    border-radius: 10px;
    margin-bottom:5px;
    background-color: #578659;
    color:white;
    border-color: #578659;
}