#display_div div{
    padding:20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 30%;
    height: 40%;
    margin-top: 10px;
    margin-right: 5px;
    float:left;
}
h1{
    text-align: center;
}

button {
    border-radius: 10px;
    margin-bottom:5px;
    background-color: #578659;
    color:white;
    border-color: #578659;
}