body {
    background-color: #f5f5f5;
}

button {
    border-radius: 10px;
    margin-bottom:5px;
    background-color: #578659;
    color:white;
    border-color: #578659;
}

a{
    color: black;
    text-decoration: none;
}

li {
    list-style-type: none;
    margin-left: -40px;
    padding:2px;
}

textarea{
    width: 100%;
    min-height: 60px;
    max-height: 300px;
    resize: vertical;
    padding: 10px;
    font-size: 15px;
    font-family: inherit;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: #cccccc;
}

input {
    width:100%;
    border-radius: 5px;
    border-color: #cccccc;
}

.container {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }


.add_ingredient,
.add_recipe,
.save_recipe {
    padding:6px;
    border: 2px solid #cccccc; 
    margin-top:5%;
    margin-bottom: 5%;
    border-radius: 6px; 
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
}

.left_box {
    font-size: large;
    max-width: 20%;
}


.website_name legend{
    margin-top: 10px;
    font-size:large;
}

.boxes{
    display:flex;
    min-height:80%;
    width: 80%;
    float:left;
}

.pantry_boxes {
    display:flex;
    flex-direction: column;
    min-height:80%;
    width: 80%;
    float:left;
    margin-left:20px;
}

.pantry_boxes h2 {
    text-align: center;
}

.search_results{
    float: left;
    display: block;
    width: 75%;
    padding:20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 10px;
}

.search_results h3{
    float: left;
}

.ingredients_box,
.recipes_box{
    padding:20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    width:45%;
    min-height:80%;
    margin-top: 10px;
    float:left;
    height:500px;
    padding:6px;
    border: 2px solid #cccccc; 
    background-color: #eeeeee;
}

.search_bar {
    display: block;
    width:60%;
    margin-top: 10px;
    margin-left: 15%;
}

.search_bar input {
    align-content: center;
    width:40%;
}

.ingredients_box li {
    list-style-type: disc;
}

.ingredients_box li{
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 5px;
    margin: 5px;
}

.recipes_box li{
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 5px;
    margin: 5px;
}