button {
    border-radius: 10px;
    margin-bottom:5px;
}

li {
    list-style-type: none;
    margin-left: -40px;
    padding:2px;
}

textarea{
    width: 100%;
    min-height: 60px;
    max-height: 300px;
    resize: vertical;
    padding: 10px;
    font-size: 15px;
    font-family: inherit;
    box-sizing: border-box;
}

input {
    width:100%;
}

.container {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }


.add_ingredient,
.add_recipe,
.save_recipe {
    padding:6px;
    border: 2px solid #606b21; 
    margin-top:5%;
    margin-bottom: 5%;
    border-radius: 6px; 
    display: flex;
    flex-direction: column;
}

.left_box {
    font-size: large;
    max-width: 20%;
}


.website_name legend{
    margin-top: 10px;
    font-size:large;
}

.pantry_boxes {
    display:flex;
    min-height:80%;
    width: 80%;
    float:left;
    margin-left:20px;
}

.pantry_boxes h2 {
    text-align: center;
}
.ingredients_box,
.recipes_box {
    padding:20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    width:45%;
    min-height:80%;
    float:left;
    height: 500px;
}

.search_bar {
    float:right;
    width:40%;
    position: absolute;
    top:64%;
    left:20%;

}

.search_bar input {
    align-content: center;
    width:40%;
}

.ingredients_box li {
    list-style-type: disc;
}